# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
mlops-env/

# Documentation
README.md
*.md

# Data
data/
models/
logs/
mlruns/

# IDEs
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache
.coverage
htmlcov/
